img {
  height: 100px;
}

header {
  background-color: #EAF2F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  .flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

#upload-file {
  display: none;
}

.icon {
  cursor: pointer;
  transition: 0.25s;
}
.icon:hover {
	transform: scale(1.1);
}
.icon:active {
	transform: scale(0.9);
}

footer {
  text-align: left;
  background: #D5D8DC;
}