.App {
  text-align: center;
}

.App img {
  height: 100px;
}

header {
  background-color: #EAF2F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.flex {
  display: flex;
  justify-content: space-between;
}

#upload-file {
  display: none;
}